#body {
    display: grid;
    font-size: 2em;
    width: 50%;
    margin: 10% auto;
    padding: 5%;
    background-color: #6c8691;
    color: #f1f1f1;
}

#weatherCard {
    display: flex;
    font-size: 2em;
}

#weatherConditionCity {
    font-size: 1.2em;
}

#mainTempCard {
    border-left: 10px solid white;
    margin-left: 5%;
    margin-right: 5%;
}

#cityTemp {
    font-size: 2.5em;
}

#weatherInfoCard {
    line-height: 2em;
}

#citySearch{
    position: absolute;
    top: 2%;
    left: 87%;
    width: 10%;
}

.round {
    width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.corner {
    position: absolute;
    top: 3px;
    left: 5px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    background: no-repeat;
    background-image: url('maginify.jpg');
}

.search {
    position: relative;
    width: 190px;
    height: 30px;
}